@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lexend:wght@300&family=Merriweather+Sans:wght@300&family=Roboto:ital,wght@1,300&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.5vw;
}

h3 {
  font-family: "Merriweather Sans", serif;
  font-size: 1.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-family: "Merriweather Sans", serif;
  font-weight: 700;
  word-spacing: 0.4vw;
}

h6 {
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
}

p {
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.5rem;
}

button {
  border-style: none;
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
}

hr {
  background: hsla(32, 13%, 77%, 0.939);
  color: hsla(32, 13%, 77%, 0.939);
  height: 0.3rem;
}

body {
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  top: 5px;
  right: justify;
  display: grid;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderbtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.sliderbtn:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .sliderbtn {
  background-color: hsla(32, 65%, 46%, 0.939);
}

input:focus + .sliderbtn {
  box-shadow: 0 0 8px hsla(32, 65%, 46%, 0.939);
}

input:checked + .sliderbtn:before {
  transform: translateX(1.63rem);
}

header .intro img {
  width: 100%;
  height: auto;
}

header .intro {
  position: relative;
}

header .intro .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


header .intro .head h1 {
  color: hsla(32, 13%, 77%, 0.939);
  padding-top: 40px;
}

header .intro .head h3 {
  letter-spacing: 0.3rem;
  font-family: "Dancing Script", sans-serif;
  color: antiquewhite;
}

header .navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  color: hsla(32, 65%, 46%, 0.939);
  transition: width 0.3s;
}

header .navbar .navbar-nav .nav-link:hover:after {
  width: 60%;
  transition: width 0.3s;
  color: hsla(32, 65%, 46%, 0.939);
  border-bottom: 2px solid hsla(32, 65%, 46%, 0.939);
}

.featured .row {
  position: relative;
}

.featured .row .one {
  height: 300px;
}

.featured .row .one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-size: cover;
  box-shadow: 0 0 14px hsla(32, 65%, 46%, 0.939);
}

.featured .row .one .text {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
  top: -150px;
}

.featured .row .one .text p {
  letter-spacing: 0.2rem;
  line-height: 2px;
}

.featured .row .one .text a {
  text-decoration: none;
  border-style: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}

.featured .row .one .text a::after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  background: hsla(32, 65%, 46%, 0.939);
}

.container2 {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

#slider {
  position: relative;
  width: 500px;
  height: 400px;
}


#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 0 14px hsla(32, 65%, 46%, 0.939);
  transition: all 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}



button:not(:first-child){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #717171;
  color: #f1f1f1;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover:not(:first-child){
  background-color: hsla(32, 65%, 46%, 0.939);
}

button#prev {
  left: -35px;
  padding: 7px 17px 7px 15px;
}

button#next {
  right: -35px;
  padding: 7px 15px 7px 17px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: hsla(32, 65%, 46%, 0.939);
  color: #050504e1;
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
  box-shadow: 0 0 14px hsla(32, 65%, 46%, 0.939);
}

.item > p {
  text-align: center;
}

.left {
max-width: 800px;
 margin: 0 auto;
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
max-width: 800px;
 margin: 0 auto;
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}

